#--------initial commit--------
FPDF==1.7.2
numpy==1.25.1
pandas==2.0.3
matplotlib==3.7.2
python-bidi==0.4.2
arabic-reshaper==3.0.0
pyyaml==6.0.1
#------------------
bcrypt==3.2.0
click==8.1.2  # Change to specific version to resolve conflict (needed for the web app to work)
email-validator==1.1.3
Flask==2.0.2
Flask-Mail==0.9.1 
Flask-Bcrypt==1.0.1
Flask-Login==0.6.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
Jinja2==3.1.2  # Change to specific version to resolve conflict
SQLAlchemy==1.4.35
sqlparse==0.4.2 # provides support for parsing, splitting and formatting SQL statements
Werkzeug==2.3.7  # Change to specific version to resolve conflict(needed for the web app to work)
WTForms==3.0.1
pymysql==1.1.0 # needed for testing sql connection
cryptography==41.0.5 # needed for authenticating the db connection
python-dotenv # load the environment variables from the .env file using the dotenv module
qrcode==7.3.1 # generate QR codes
Pillow==8.4.0

#--------Libraries for change color of icons in certificates --------
svgwrite
cairosvg==2.5.2
pyyaml
