{% extends 'base.html' %}

{% block title %}Create Event with File Upload{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1 class="mb-4 text-center">Add Event</h1>
  <form id="upload-and-certificate-form" action="{{ url_for('add_certificate') }}" method="POST"
    enctype="multipart/form-data">

    {{ form.hidden_tag() }}


    <div class="form-section">
      <div class="mb-3">
        {{ form.certificate_title.label(class="form-label") }}
        {{ form.certificate_title(class="form-control", placeholder="Enter event title") }}
        {% for error in form.certificate_title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.presenter_name.label(class="form-label") }}
        {{ form.presenter_name(class="form-control", placeholder="Enter presenter name") }}
        {% for error in form.presenter_name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.secret_phrase.label(class="form-label") }}
        {{ form.secret_phrase(class="form-control", placeholder="Enter secret phrase") }}
        {% for error in form.secret_phrase.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.event_type.label(class="form-label") }}
        {{ form.event_type(class="form-control") }}
        {% for error in form.event_type.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>


      <div class="mb-3">
        {{ form.date.label(class="form-label") }}
        {{ form.date(class="form-control") }}
        {% for error in form.date.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-3">
        {{ form.certificate_description.label(class="form-label") }}
        {{ form.certificate_description(class="form-control", placeholder="Enter event description") }}
        {% for error in form.certificate_description.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
    </div>

    <!-- Signature Section -->
    <div class="form-section">
      <h2 class="mt-4 mb-2">Signature Information</h2>

      <!-- First Signatory Fields -->
      <div class="mb-3">
        {{ form.signatory_name_1.label(class="form-label") }}
        {{ form.signatory_name_1(class="form-control", placeholder="Enter first signatory name") }}
        {% for error in form.signatory_name_1.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.signatory_position_1.label(class="form-label") }}
        {{ form.signatory_position_1(class="form-control", placeholder="Enter first signatory position") }}
        {% for error in form.signatory_position_1.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>
      <div class="mb-3">
        {{ form.signature_image_1.label(class="form-label") }}
        {{ form.signature_image_1(class="form-control") }}
        {% for error in form.signature_image_1.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- <div class="mb-3">
        <a href="{{ url_for('add_certificate', second_signatory='true') }}" class="btn btn-primary">Add Second
          Signatory</a>
      </div> -->
      <div class="mb-3">
        <!-- Button to show/hide the second signatory section -->
        <button type="button" class="btn btn-primary" onclick="
          toggleSecondSignatory()">Add Second Signatory</button>
      </div>
      <!-- Second Signatory Fields (conditionally shown) -->
      {% if show_second_signatory %}
      <div id="secondSignatorySection" class="form-section" style="display: none;">
        <div class="mb-3">
          {{ form.signatory_name_2.label(class="form-label") }}
          {{ form.signatory_name_2(class="form-control", placeholder="Enter second signatory name") }}
          {% for error in form.signatory_name_2.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="mb-3">
          {{ form.signatory_position_2.label(class="form-label") }}
          {{ form.signatory_position_2(class="form-control", placeholder="Enter second signatory position") }}
          {% for error in form.signatory_position_2.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="mb-3">
          {{ form.signature_image_2.label(class="form-label") }}
          {{ form.signature_image_2(class="form-control") }}
          {% for error in form.signature_image_2.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>




    <div class="file-upload-section">
      <h2 class="mt-4 mb-2">Attendance Information:</h2>
      <div class="mb-3">
        {{ form.file.label(class="form-label") }}
        {{ form.file(class="form-control") }}
        {% for error in form.file.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}

        {% if message %}
        <div class="error-message">
          {{ message }}
        </div>
        {% endif %}


      </div>
      <p>* The file must be in CSV format</p>
    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4 mb-5">
      <button type="button" class="button cancel"
        onclick="window.location.href='{{ url_for('certificates') }}'">Cancel</button>
      <input type="submit" value="Submit" class="button">
    </div>


  </form>
</div>
<script>
  function toggleSecondSignatory() {
    var section = document.getElementById('secondSignatorySection');
    if (section.style.display === 'none') {
      section.style.display = 'block';
    } else {
      section.style.display = 'none';
    }
  }
</script>
{% endblock %}
{% block scripts %}
{% endblock %}