{% extends 'base.html' %}

{% block title %}Create Event with File Upload{% endblock %}
{% block body %}
<div class="container mt-5 mx-auto">
  <h6 class="font-bold text-4xl text-center" style="color: #2C4E71;">Add Event</h6>

  <!-- Explanation message -->
  <p class="text-center text-gray-600 mt-4">Please select the language for the event and the certificate:</p>

  <!-- Language selection buttons -->
  <div class="text-center mt-6">
    <form action="{{ url_for('add_certificate') }}" method="POST">
      <button type="submit" name="language" value="arabic" class="button w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">Arabic</button>
      <button type="submit" name="language" value="english" class="button w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">English</button>
      <button type="submit" name="language" value="arabic_english" class="button w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">Arabic & English</button>
    </form>
  </div>
</div>
{% endblock %}
