{% extends 'base.html' %}

{% block title %}Create Event with File Upload{% endblock %}

{% block body %}
<div class="container mt-5 mx-auto">
  <h6 class="font-bold text-4xl text-center" style="color: #2C4E71;">Add Event</h6>
  <form id="upload-and-certificate-form" action="{{ url_for('aren_form') }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <!-- Event Information Section -->
    <div class="form-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600">Event Information:</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.certificate_title.label(class="form-label block text-gray-700") }}
          {{ form.certificate_title(class="form-control w-full border p-2 rounded-lg", placeholder="Enter event title") }}
          {% for error in form.certificate_title.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Secret Field -->
        <div class="mb-4">
          {{ form.secret_phrase.label(class="form-label") }}
          {{ form.secret_phrase(class="form-control w-full border p-2 rounded-lg", placeholder="Enter secret phrase") }}
          {% for error in form.secret_phrase.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mb-4">
          {{ form.presenter_name.label(class="form-label block text-gray-700") }}
          {{ form.presenter_name(class="form-control w-full border p-2 rounded-lg", placeholder="Enter presenter name") }}
          {% for error in form.presenter_name.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>

      <!-- Event type  -->
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.event_type.label(class="form-label block text-gray-700") }}
          {{ form.event_type(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.event_type.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Date -->
        <div class="mb-4">
          {{ form.date.label(class="form-label") }}
          {{ form.date(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.date.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <!-- Template choice -->
        <div class="mb-4">
          {{ form.template_choice.label(class="form-label block text-gray-700") }}
          {{ form.template_choice(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.template_choice.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>

    </div>

    <!-- Signature Information Section -->
    <div class="form-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600">Signature Information:</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.signatory_name_1.label(class="form-label block text-gray-700") }}
          {{ form.signatory_name_1(class="form-control w-full border p-2 rounded-lg", placeholder="Enter first signature name") }}
          {% for error in form.signatory_name_1.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Secret Field -->
        <div class="mb-4">
          {{ form.signatory_position_1.label(class="form-label") }}
          {{ form.signatory_position_1(class="form-control w-full border p-2 rounded-lg", placeholder="Enter first signatory position") }}
          {% for error in form.signatory_position_1.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mb-4">
          {{ form.signature_image_1.label(class="form-label") }}
          {{ form.signature_image_1(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.signature_image_1.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
          <!-- Button to show/hide the second signatory section -->
          <button type="button" class="btn btn-primary" onclick="toggleSecondSignatory()">Add Second Signatory</button>
        </div>
      </div>
      <!-- Second signature -->
      <div id="secondSignatorySection" style="display: none;">
        <div class="grid grid-cols-3 gap-6">
          <div class="mb-4">
            {{ form.signatory_name_2.label(class="form-label block text-gray-700") }}
            {{ form.signatory_name_2(class="form-control w-full border p-2 rounded-lg", placeholder="Enter second signature name") }}
            {% for error in form.signatory_name_2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Secret Field -->
          <div class="mb-4">
            {{ form.signatory_position_2.label(class="form-label") }}
            {{ form.signatory_position_2(class="form-control w-full border p-2 rounded-lg", placeholder="Enter second signatory position") }}
            {% for error in form.signatory_position_2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="mb-4">
            {{ form.signature_image_2.label(class="form-label") }}
            {{ form.signature_image_2(class="form-control w-full border p-2 rounded-lg") }}
            {% for error in form.signature_image_2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

<!-- File upload section -->
<div class="file-upload-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
  <h2 class="mt-4 mb-2 text-xl text-blue-600">Attendance Information:</h2>
  <div class="mb-3">
    {{ form.file.label(class="form-label block text-gray-700") }}
    {{ form.file(class="form-control w-full border p-2 rounded-lg") }}
    {% for error in form.file.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {% if message %}
    <div class="error-message">
      {{ message }}
    </div>
    {% endif %}
  </div>
  <p class="text-gray-600">* The file must be in CSV format</p>

  <!-- Display required fields dynamically -->
  <div class="mt-4">
    <p class="text-gray-600">* Required_headers = {'first_name','middle_name','last_name','arfirst_name','armiddle_name','arlast_name','email','phone','gender'}</p>
    <ul class="list-disc list-inside">



    </ul>
  </div>
</div>

    <!-- AR form section -->
    <div class="form-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600">Arabic form:</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.intro.label(class="form-label") }}
          {{ form.intro(class="form-control") }}
          {% for error in form.intro.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- female recipient -->
        <div class="mb-4">
          {{ form.female_recipient_title.label(class="form-label block text-gray-700") }}
          {{ form.female_recipient_title(class="form-control w-full border p-2 rounded-lg", placeholder="Enter presenter name") }}
          {% for error in form.female_recipient_title.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <!-- male recipient -->
        <div class="mb-4">
          {{ form.male_recipient_title.label(class="form-label block text-gray-700") }}
          {{ form.male_recipient_title(class="form-control w-full border p-2 rounded-lg", placeholder="Enter presenter name") }}
          {% for error in form.male_recipient_title.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>


      </div>

      <!-- greeting male  -->
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          <label for="greetingMale">Greeting for Males</label>
          <input type="text" id="greetingMale" name="greeting_male" class="form-control w-full border p-2 rounded-lg"
            placeholder="Best wishes for his success and prosperity"/>
        </div>

        <!-- description male -->
        <div class="mb-4 col-span-2">
          {{ form.certificate_description_male.label(class="form-label") }}
          {{ form.certificate_description_male(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.certificate_description_male.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

      </div>
      <!-- greetings female -->
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          <label for="greetingFemale">Greeting for Females</label>
          <input type="text" id="greetingFemale" name="greeting_female" class="form-control"
            placeholder="Best wishes for her success and prosperity" />
        </div>

        <!-- description female -->
        <div class="mb-4 col-span-2">
          {{ form.certificate_description_female.label(class="form-label") }}
          {{ form.certificate_description_female(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.certificate_description_female.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

      </div>
    </div>

     <div class="form-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600">English form:</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.intro.label(class="form-label") }}
          {{ form.intro(class="form-control") }}
          {% for error in form.intro.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- female recipiant -->
        <div class="mb-4">
          {{ form.female_recipient_title.label(class="form-label block text-gray-700") }}
          {{ form.female_recipient_title(class="form-control w-full border p-2 rounded-lg", placeholder="Enter presenter name") }}
          {% for error in form.female_recipient_title.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <!-- male recipiant -->
        <div class="mb-4">
          {{ form.male_recipient_title.label(class="form-label block text-gray-700") }}
          {{ form.male_recipient_title(class="form-control w-full border p-2 rounded-lg", placeholder="Enter presenter name") }}
          {% for error in form.male_recipient_title.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>


      </div>

      <!-- greeting male  -->
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          <label for="greetingMale">Greeting for Males</label>
          <input type="text" id="greetingMale" name="greeting_male" class="form-control w-full border p-2 rounded-lg"
            placeholder="Best wishes for his success and prosperity"/>
        </div>

        <!-- description male -->
        <div class="mb-4 col-span-2">
          {{ form.certificate_description_male.label(class="form-label") }}
          {{ form.certificate_description_male(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.certificate_description_male.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

      </div>
      <!-- greetings female -->
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          <label for="greetingFemale">Greeting for Females</label>
          <input type="text" id="greetingFemale" name="greeting_female" class="form-control"
            placeholder="Best wishes for her success and prosperity" />
        </div>

        <!-- description female -->
        <div class="mb-4 col-span-2">
          {{ form.certificate_description_female.label(class="form-label") }}
          {{ form.certificate_description_female(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.certificate_description_female.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

      </div>
    </div>

    <!-- Button Container -->
    <div class="fixed-bottom text-center mt-6">
      <button type="button" onclick="window.location.href='{{ url_for('certificates') }}'" class="button w-40 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded m-2">Cancel</button>
      <input type="submit" value="Submit" class="button w-40 text-white font-bold py-2 px-4 rounded m-2">
    </div>
  </form>
</div>

<script>
  function toggleSecondSignatory() {
    var section = document.getElementById('secondSignatorySection');
    if (section.style.display === 'none') {
      section.style.display = 'block';
    } else {
      section.style.display = 'none';
    }
  }
</script>
{% endblock %}
