<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="/static/styles_certificate.css">
    <link rel="stylesheet" type="text/css" href="/static/style_settings.css">

    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;600&family=Noto+Sans+Arabic&display=swap"
        rel="stylesheet">
    <!-- Include Tailwind CSS (replace with your own path if using npm/yarn) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <!-- Flowbite -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwindcss -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Link to the external style.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<style>
    .flash-message {
        position: fixed;
        top: 60px;
        /* Adjust this value according to your header height */
        right: 20px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .flash-message p {
        margin: 0;
    }

    .flash-message button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .flash-message button:hover {
        background-color: #0056b3;
    }
</style>

<body>
    <!-- Navbar  -->
    <nav class="bg-white border-gray-200 dark:bg-gray-900 shadow-md ">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <button type="button"
                class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="https://cdn-icons-png.flaticon.com/512/149/149071.png"
                    alt="user photo">
            </button>


            <!-- User Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-gray-900 dark:text-white">
                        {{current_user.Fname}}
                        {{current_user.Lname}}<!-- to get the current logged in user first and last name -->
                    </span>
                    <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">{{current_user.email}}</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">

                    <li>
                        <a href="{{ url_for('settings') }}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                            data-i18n="Settings">Settings</a>
                    </li>

                    <li aria-labelledby="dropdownNavbarLink">
                        <button id="doubleDropdownButton" data-dropdown-toggle="doubleDropdown"
                            data-dropdown-placement="right-start" type="button"
                            class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                            data-i18n="Contact">Contact<svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 1 4 4 4-4" />
                            </svg></button>
                        <div id="doubleDropdown"
                            class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200"
                                aria-labelledby="doubleDropdownButton">
                                <li>
                                    <a href="mailto:name@qu.ed.sa"
                                        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">name@qu.ed.sa</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="{{url_for('logout')}}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                            data-i18n="Sign_out">Sign
                            out</a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center md:order-2">

                <!-- Language Dropdown menu -->
                <div class="relative inline-block text-left">
                    <select
                        class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded-lg shadow-sm focus:outline-none focus:ring-1 focus:ring-gray-300 focus:border-gray-400 dark:bg-gray-700 dark:text-gray-400 dark:border-gray-600 dark:hover:border-gray-500 dark:focus:ring-gray-600">
                        <option value="ar" data-i18n="arabic"> >
                            <div class="flex items-center">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Flag_of_Saudi_Arabia.svg/2560px-Flag_of_Saudi_Arabia.svg.png"
                                    class="h-3.5 w-3.5 rounded-full mr-2" alt="العربية" />
                                العربية
                            </div>
                        </option>
                        <option value="en" data-i18n="english" selected>
                            <div class="flex items-center">
                                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1920px-Flag_of_the_United_States.svg.png"
                                    class="h-3.5 w-3.5 rounded-full mr-2" alt="English" />
                                English
                            </div>
                        </option>
                    </select>
                    <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                        <svg class="w-5 h-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 12a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M3 10a7 7 0 1114 0 7 7 0 01-14 0zm7-5a5 5 0 100 10 5 5 0 000-10z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </div>
            </div>

            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
                <ul
                    class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="{{ url_for('certificates') }}"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                            data-i18n="Event">Event</a>
                    </li>
                    <li>
                        <a href="/Select_template"
                            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                            data-i18n="Templates">Templates</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {%block body%}

    {%endblock%}
    <!-- Notificatin -->
    {% for msg in get_flashed_messages() %}
    <div class="flash-message" id="flashMessage">
        <p>{{ msg }}</p>
        <button onclick="dismissFlashMessage()" data-i18n="Dismiss">Dismiss</button>
    </div>
    {% endfor %}


    <!-- Footer  -->




    <footer class="bg-white rounded-lg shadow dark:bg-gray-900">
        <div class="w-full max-w-screen-xl mx-auto p-4">
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a
                    href="https://github.com/zalsaeed/cgav" class="hover:underline">CGAV</a>. All Rights
                Reserved.</span>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

    <!-- Include the external JavaScript file -->
    <script src="static/js/translations.js"></script>
</body>
<script>

    function dismissFlashMessage() {

        var flashMessage = document.getElementById('flashMessage');
        flashMessage.style.display = 'none';
    }
</script>

</html>