<!-- certificate_details.html -->

{% extends 'base.html' %}

{% block title %}Event Details{% endblock %}

{% block body %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container mt-5">
  <h1 class="mb-4 text-center">Event Details</h1>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ certificate.certificate_title }}</h5>
      <p class="card-text">Event Type: {{ certificate.event_type.event_type_name }}</p>
      <p class="card-text">Presenter Name: {{ certificate.presenter_name }}</p>
      <p class="card-text">Event Date: {{ certificate.event_date.strftime('%Y-%m-%d') }}</p>
      <p class="card-text">Secret Phrase: {{ certificate.secret_phrase }}</p>
      <p class="card-text">CSV File Path: {{ certificate.file_path }}</p>
      <p class="card-text">Description(for female): {{ certificate.certificate_description_female }}</p>
      <p class="card-text">Description(for male): {{ certificate.certificate_description_male }}</p>
      <p class="card-text">Greeting(for female): {{ certificate.female_recipient_title }}</p>
      <p class="card-text">Greeting(for male): {{ certificate.male_recipient_title }}</p>
      <p class="card-text">Signatory 1: {{ certificate.First_Signatory_Name }}</p>
      <p class="card-text">Position 1: {{ certificate.First_Signatory_Position }}</p>
      <p class="card-text">Path 1: {{ certificate.First_Signatory_Path }}</p>
      {% if certificate.Second_Signatory_Name %}
      <p class="card-text">Signatory 2: {{ certificate.Second_Signatory_Name }}</p>
      <p class="card-text"> Position 2: {{ certificate.Second_Signatory_Position }}</p>
      <p class="card-text">Path 2: {{ certificate.Second_Signatory_Path }}</p>
      {% endif %}


      <!-- Buttons -->
      <button id="delete-btn" class="custom-button" onclick="handleDelete()">Delete</button>
      <button id="generate-btn" class="custom-button"
        onclick="handleGenerate('{{ certificate.certificate_event_id }}')">Generate</button>

      <button id="download-btn" class="custom-button" onclick="handleDownload()">Download</button>
      <button id="send-btn" class="custom-button" onclick="handleSend()">Send</button>
    </div>
  </div>
</div>

<!-- Delete Confirmation Popup -->
<div id="delete-confirmation-popup" class="popup">
  <div class="popup-content">
    <p>Are you sure you want to delete the certificate titled "{{ certificate.certificate_title }}"?</p>
    <p style="color: #ff0000; font-weight: bold;"> Deleting this event will permanently remove it from the system.</p>
    <p>This action will also prevent certificate verification via the API and trigger email 
      notifications to recipients about the event's deletion.</p>
    <form onsubmit="return handleDeleteConfirmation()">
      <label for="event_name">Enter the event name for confirmation:</label>
      <input type="text" id="event_name" name="event_name" required>
      <button type="submit" class="custom-button">Confirm Delete</button>
    </form>
    <button onclick="closePopup()" class="custom-button">Cancel</button>
  </div>
</div>

<!-- Loading Popup -->
<div id="loading-popup" class="popup">
  <div class="popup-content">
    <p>Loading...</p>
  </div>
</div>

<!-- Success Popup -->
<div id="success-popup" class="popup">
  <div class="popup-content">
    <p>Certificate deleted successfully</p>
    <button onclick="redirectToCertificates()" class="custom-button">OK</button>
  </div>
</div>

<!-- Error Popup -->
<div id="error-popup" class="popup">
  <div class="popup-content">
    <p>Error: Please try again later</p>
    <button onclick="closePopup()" class="custom-button">OK</button>
  </div>
</div>

<style>
  /* Button Style */
  .custom-button {
    display: inline-block;
    padding: 12px 24px;
    text-decoration: none;
    color: #fff;
    background-color: #427AA1;
    /* Match the color used in your project */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    /* Let the width adjust based on content */
    font-size: 16px;
    /* Adjust the font size as needed */
    transition: background-color 0.3s, color 0.3s;
  }

  .custom-button:hover,
  .custom-button:active {
    /* Apply styles for active state (clicked) */
    background-color: #2c4e71;
    /* Darken the color */
    color: #fff;
  }

  /* Popup Styles */
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    /* Adjust as needed */
  }

  .popup-content {
    text-align: center;
  }

  /* Card Styles */
  .card-title {
    font-size: 1.5rem;
    color: #007bff;
    /* Adjust the color to match your theme */
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1rem;
    color: #333;
    /* Adjust the color to match your theme */
    margin-bottom: 5px;
  }
</style>

<script>
  // Delete section
  function handleDelete() {
    document.getElementById('delete-confirmation-popup').style.display = 'block';
  }

  function handleDeleteConfirmation() {
    document.getElementById('delete-confirmation-popup').style.display = 'none';
    document.getElementById('loading-popup').style.display = 'block';

    const eventName = document.getElementById('event_name').value;

    // Make an AJAX request to delete the certificate
    fetch(`/delete_confirmation/{{ certificate.certificate_event_id }}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ event_name: eventName }),
    })
      .then(response => response.json())
      .then(result => {
        document.getElementById('loading-popup').style.display = 'none';

        if (result.success) {
          // Show success message
          Swal.fire({
            title: 'Success!',
            text: 'Certificate deleted successfully',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              // Redirect to certificates page or perform any other action
              redirectToCertificates();
            }
          });
        } else {
          // Show error message
          Swal.fire({
            title: 'Error!',
            text: result.error || 'An error occurred while deleting the certificate',
            icon: 'error',
            confirmButtonText: 'OK'
          });
        }
      })
      .catch(error => {
        console.error('Error:', error);
        document.getElementById('loading-popup').style.display = 'none';
        // Show error message
        Swal.fire({
          title: 'Error!',
          text: 'An error occurred while deleting the certificate',
          icon: 'error',
          confirmButtonText: 'OK'
        });
      });

    return false;
  }


  function redirectToCertificates() {
    window.location.href = '/certificates';
  }

  function closePopup() {
    document.getElementById('delete-confirmation-popup').style.display = 'none';
    document.getElementById('loading-popup').style.display = 'none';
    document.getElementById('success-popup').style.display = 'none';
    document.getElementById('error-popup').style.display = 'none';
  }
  function handleSend() {
    // Implement send functionality
    window.location.href = '/send_email';
  }

  ///////////////////
  function handleGenerate(certificateEventId) {
    fetch(`/generate_certificate/${certificateEventId}`, { method: 'POST' })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.json();
      })
      .then(data => {
        if (data.success) {
          Swal.fire({
            title: 'Success!',
            text: 'Certificate generated successfully.',
            icon: 'success',
            confirmButtonText: 'OK'
          }).then(() => {
            // Reload the page to reflect changes
            location.reload();
          });
        } else {
          Swal.fire({
            title: 'Error!',
            text: `Error generating certificate: ${data.error}`,
            icon: 'error',
            confirmButtonText: 'OK'
          });
        }
      })
      .catch(error => {
        console.error('Error:', error);
        Swal.fire({
          title: 'Error!',
          text: 'Certificate Already Generated',
          icon: 'error',
          confirmButtonText: 'OK'
        });
      });
  }


  // Downloud section 
  function handleDownload() {
    // Make an AJAX request to the new Flask route
    fetch(`/download_latest_event_certificates`, {
      method: 'GET',
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok ' + response.statusText);
        }
        return response.blob();
      })
      .then(data => {
        // Create a blob URL for the zip file and trigger the download
        const blobUrl = URL.createObjectURL(data);
        const a = document.createElement('a');
        a.href = blobUrl;
        a.download = 'latest_event_certificates.zip';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
      })
      .catch(error => console.error('Error:', error));
  }

  ////////////////
  // Other buttons (Generate, downloud, send)
</script>
{% endblock %}