{% extends 'base.html' %}

{% block title %}Event{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="text-center">
    <h6 class="font-bold text-4xl" style="color: #2C4E71;" data-i18n="Your_Events">Your Activities</h6>
  </div>

  <h2 id="certificates-header" class="mt-5 mb-4 text-center" data-i18n="Latest_Event">Latest Activities</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <!-- Display the latest 3 certificates -->
    {% for certificate in latest_certificates %}
    <div class="col-md-4 mb-4 latest-certificate" id="certificate-{{ certificate.certificate_event_id }}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ certificate.certificate_title }}</h5>
          <p class="card-text"><strong data-i18n="Presenter">Presenter:</strong> {{ certificate.presenter_name }}</p>
          <p class="card-text"><strong data-i18n="Event_Date">Activity date:</strong> {{
            certificate.event_date.strftime('%m/%d/%Y') }}</p>
          <p class="card-text"><strong data-i18n="Event_Type">Activity Type:</strong> {{
            certificate.event_type.event_type_name }}</p>
          <a href="/certificate_details/{{ certificate.certificate_event_id }}" class="custom-button"
            data-i18n="More_Info">More Info</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div id="all-certificates" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <!-- AJAX will populate this section -->
  </div>

  <div class="text-center mt-3">
    <button id="load-more-certificates" class="m-2 custom-button">Load More</button>
    <a href="/add_certificate"><button class="m-2 custom-button" data-i18n="Add_Events">Add Activities</button></a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const allCertificatesContainer = document.getElementById('all-certificates');
    const loadMoreCertificatesBtn = document.getElementById('load-more-certificates');
    const certificatesHeader = document.getElementById('certificates-header');
    const language = localStorage.getItem("lang") || "en";

    // Set to store loaded certificate IDs
    const loadedCertificateIds = new Set();

    // Variable to track the number of times 'Load More' button is clicked
    let loadMoreCount = 0;

    function loadMoreCertificates() {
      // Increment the load more count
      loadMoreCount++;

      // Get the number of certificates already loaded
      const alreadyLoadedCount = document.querySelectorAll('.latest-certificate').length;

      // Make an AJAX request to load more certificates, excluding already loaded IDs
      fetch(`/load_more_certificates?loaded_count=${alreadyLoadedCount}&exclude_ids=${Array.from(loadedCertificateIds).join(',')}`)
        .then(response => response.json())
        .then(certificates => {
          // Ensure certificates is an array before using forEach
          if (Array.isArray(certificates)) {
            // Update the UI with the received certificates
            certificates.forEach(certificate => {
              const certificateId = certificate.certificate_event_id;

              // Check if the certificate ID is not in the loaded set and not on the page
              if (!loadedCertificateIds.has(certificateId) && !document.getElementById(`certificate-${certificateId}`)) {
                const certificateCard = document.createElement('div');
                certificateCard.classList.add('col-md-4', 'mb-4', 'latest-certificate');
                certificateCard.id = `certificate-${certificateId}`;
                certificateCard.innerHTML = `
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">${certificate.certificate_title}</h5>
                                        <p class="card-text"><strong data-i18n="Presenter">Presenter:</strong> ${certificate.presenter_name}</p>
                                        <p class="card-text"><strong data-i18n="Event_Date">Event date:</strong> ${new Date(certificate.event_date).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' })}</p>
                                        <p class="card-text"><strong data-i18n="Event_Type">Event Type:</strong> ${certificate.event_type_name}</p>
                                        <a href="/certificate_details/${certificateId}" class="custom-button" data-i18n="More_Info">More Info</a>
                                    </div>
                                </div>
                            `;
                allCertificatesContainer.appendChild(certificateCard);

                // Add the loaded certificate ID to the set
                loadedCertificateIds.add(certificateId);
              }
            });

            // If no more certificates to load, update the button and notify the user
            console.log("Number of certificates:", certificates.length);
            if (certificates.length === 0) {
              certificatesHeader.textContent = translations[language]['All_Events'];
              loadMoreCertificatesBtn.textContent = translations[language]['No_More_Events'];
              loadMoreCertificatesBtn.disabled = true;
            }

            // Apply translations to newly added elements
            updateDynamicTranslations(language);
          } else {
            console.error('Invalid response format:', certificates);
          }
        })
        .catch(error => console.error('Error loading certificates:', error));
    }

    // Initial click event for the "Load More" button
    if (loadMoreCertificatesBtn) {
      loadMoreCertificatesBtn.addEventListener('click', loadMoreCertificates);
    } else {
      console.error('Button element not found.');
    }
  });
</script>

{% endblock %}