{% extends 'base.html' %}
{% block title %}Change Name{% endblock %}
{% block body %}

<div class="container mt-5">
    <h1 data-i18n="Change_Name">Change Name</h1>
    <form action="{{ url_for('change_name', id=user.id) }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label", **{'data-i18n': 'Name'}) }}
            {{ form.name(class="form-control", value=(user.Fname ~ ' ' ~ user.Lname)) }}
            {% if form.name.errors %}
            {% for error in form.name.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% endif %}
        </div>
        <button type="submit"
            class="form-control text-sm bg-[#427AA1] hover:bg-[#2c4e71] text-white py-1 px-4 rounded focus:outline-none focus:shadow-outline"
            data-i18n="Change_Name_Button">Change
            Name</button>
        <a href="{{ url_for('settings', id=user.id) }}"
            class="cancel-button w-40 bg-red-500 hover:bg-red-700 text-white py-1 px-4 rounded"
            data-i18n="Cancel">Cancel</a>
    </form>
</div>

<!-- Transulation -->
<script>
    const translations = {
        en: {
            Event: "Activities",
            Settings: "Settings",
            Contact: "Contact",
            Admin_page: "Admin Page",
            Sign_out: "Sign out",
            Templates: "Templates",
            Dismiss: "Dismiss",
            english: "English",
            arabic: "Arabic",
            Change_Name: "Change Name",
            Name: "Name",
            Change_Name_Button: "Change Name",
            Cancel: "Cancel",
            Change_Email: "Change Email",
            Email: "Email",
            Change_Email_Button: "Change Email",
            Your_Events: "Your Activities",
            Latest_Event: "Latest Activities",
            Load_More: "Load More",
            Add_Events: "Add Activity"
        },
        ar: {
            Event: "الأنشطة",
            Settings: "الاعدادات",
            Contact: "تواصل معنا",
            Admin_page: "صفحة المدير",
            Sign_out: "تسجيل خروج",
            Templates: "القوالب",
            Dismiss: "إنهاء",
            english: "الانجليزية",
            arabic: "العربية",
            Change_Name: "تغيير الاسم",
            Name: "الاسم",
            Change_Name_Button: "تغيير الاسم",
            Cancel: "إلغاء",
            Change_Email: "تغيير البريد الإلكتروني",
            Email: "البريد الإلكتروني",
            Change_Email_Button: "تغيير البريد الإلكتروني",
            Your_Events: "الأنشطة التي قمت بإنشائها",
            Latest_Event: "آخر الأنشطة",
            Load_More: "تحميل المزيد",
            Add_Events: "اضافة نشاط"
        }
    };


    const setLanguage = (language) => {
        const elements = document.querySelectorAll("[data-i18n]");
        elements.forEach((element) => {
            const translationKey = element.getAttribute("data-i18n");
            element.textContent = translations[language][translationKey];
        });

        document.dir = language === "ar" ? "rtl" : "ltr";

        // Adjust left padding dynamically
        const navbarItems = document.querySelectorAll("#navbar-user ul li a");
        if (language === "ar") {
            navbarItems.forEach((item) => {
                item.style.paddingLeft = "1rem";
            });
        } else {
            navbarItems.forEach((item) => {
                item.style.paddingLeft = ""; // Reset padding
            });
        }
    };

    document.addEventListener("DOMContentLoaded", () => {
        const language = localStorage.getItem("lang") || "en"; // اذا لم تكن اللغة متوفرة استخدم الانجليزية
        setLanguage(language);

        var checkbox = document.getElementById('bilingualCheckbox');
        var bilingual = document.getElementById("ardropdownToggleButton");
        var customItem = document.getElementById("customizationform");
        var keyitem = document.getElementById("keyitem");
        var signature = document.getElementById("signature");

        // Check if the checkbox is in the checked state
        window.check = function () {
            if (checkbox.checked) {
                bilingual.style.display = "flex";
            } else {
                bilingual.style.display = "none";
            }
        };

        window.dismissFlashMessage = function () {
            var flashMessage = document.getElementById('flashMessage');
            flashMessage.style.display = 'none';
        };

        window.checkItems = function (value, isChecked) {
            if (isChecked) {
                customItem.style.display = "block";
                keyitem.value = value;
                if (keyitem.value == "signature_1" || keyitem.value == "signature_2") {
                    signature.style.display = "block";
                } else {
                    signature.style.display = "none";
                }
                if (keyitem.value == "contact_info") {
                    document.getElementById('webcheck').style.display = "flex";
                    document.getElementById('Xcheck').style.display = "flex";
                    document.getElementById('alttextfield').style.display = "none";
                    document.getElementById('alttextfield2').style.display = "block";
                } else {
                    document.getElementById('webcheck').style.display = "none";
                    document.getElementById('Xcheck').style.display = "none";
                    document.getElementById('alttextfield').style.display = "block";
                    document.getElementById('alttextfield2').style.display = "none";
                }
            } else {
                customItem.style.display = "none";
            }
        };

        document.getElementById('web-checkbox').addEventListener('change', () => {
            const websitfield = document.getElementById('websitfield');
            const websitfield2 = document.getElementById('websitfield2');
            if (document.getElementById('web-checkbox').checked) {
                websitfield.style.display = "block";
                websitfield2.style.display = "block";
            } else {
                websitfield.style.display = "none";
                websitfield2.style.display = "none";
            }
        });

        document.getElementById('twitter-checkbox').addEventListener('change', () => {
            const xfield = document.getElementById('xfield');
            const xfield2 = document.getElementById('xfield2');
            if (document.getElementById('twitter-checkbox').checked) {
                xfield.style.display = "block";
                xfield2.style.display = "block";
            } else {
                xfield.style.display = "none";
                xfield2.style.display = "none";
            }
        });

        window.arCheckItems = function (value, isChecked) {
            if (isChecked) {
                customItem.style.display = "block";
                keyitem.value = value;
            } else {
                customItem.style.display = "none";
            }
        };

        window.submitForm = function (event, temp_id) {
            event.preventDefault(); // Prevent the default form submission behavior
            fetch(`/Select_template/${temp_id}`, {
                method: 'POST',
                body: new FormData(document.getElementById('customizationform')),
            })
                .then(response => {
                    document.getElementById('flashMessage').style.display = "block";
                    document.getElementById('fMessage').innerHTML = translations[language].Customizations_added_successfully;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        };

        window.previewCertificate = function (temp_id) {
            const url = `/img/${temp_id}?_=${new Date().getTime()}`;
            const imgFrame = document.getElementById('preview-image');
            const imgFrame2 = document.getElementById('generated-image');
            imgFrame.style.display = "block";
            imgFrame2.style.display = "none";
            imgFrame2.src = null;

            fetch(url, { method: 'POST' })
                .then(response => response.blob())
                .then(blob => {
                    const urlCreator = window.URL || window.webkitURL;
                    imgFrame2.src = urlCreator.createObjectURL(blob);
                    imgFrame2.style.display = "block";
                    imgFrame.style.display = "none";
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        };
    });

    const languageSelector = document.querySelector("select");
    if (languageSelector) {
        languageSelector.addEventListener("change", (event) => {
            setLanguage(event.target.value);
            localStorage.setItem("lang", event.target.value);
        });
    }

</script>

{% endblock %}