{% extends 'base.html' %}
{% block title %}Change Name{% endblock %}
{% block body %}

<div class="container mt-5">
    <h1>Change Name</h1>
    <form action="{{ url_for('change_name') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="form-control text-sm bg-[#427AA1] hover:bg-[#2c4e71] text-white py-1 px-4 rounded focus:outline-none focus:shadow-outline">Change Name</button>
        <a href="{{ url_for('settings') }}" class="cancel-button w-40 bg-red-500 hover:bg-red-700 text-white py-1 px-4 rounded">Cancel</a>
    </form>
</div>

{% endblock %}
