{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>Change Password</h1>
    <!-- Display message here -->
    {% if message %}
        <div class="alert alert-info">{{ message }}</div>
    {% endif %}

    <form action="{{ url_for('change_password') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.old_password.label(class="form-label") }}
            {{ form.old_password(class="form-control") }}
            {% if form.old_password.errors %}
                {% for error in form.old_password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control") }}
            {% if form.new_password.errors %}
                {% for error in form.new_password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.confirm_new_password.label(class="form-label") }}
            {{ form.confirm_new_password(class="form-control") }}
            {% if form.confirm_new_password.errors %}
                {% for error in form.confirm_new_password.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="bg-[#427AA1] hover:bg-[#2c4e71] text-white py-1 px-4 rounded focus:outline-none focus:shadow-outline text-md">Save</button>
        <a href="{{ url_for('settings') }}" class="bg-[#ccc] hover:bg-[#bbb] text-white py-0 px-3 rounded focus:outline-none focus:shadow-outline text-md">Cancel</a>
    </form>
</div>

{% endblock %}
