<!-- delete_confirmation.html -->

{% extends 'base.html' %}

{% block title %}Delete Confirmation{% endblock %}

{% block body %}
  <div class="container mt-5">
    <h1 class="mb-4 text-center">Delete Confirmation</h1>
    <div class="card">
      <div class="card-body">
        <p class="card-text">Are you sure you want to delete the certificate titled "{{ certificate.certificate_title }}"?</p>

        <!-- Delete confirmation form -->
        <form method="post" action="">
          <div class="form-group">
            <label for="event_name">Enter the event name for confirmation:</label>
            <input type="text" class="form-control" id="event_name" name="event_name" required>
          </div>
          <button type="submit" class="custom-action-button">Confirm Delete</button>
        </form>
      </div>
    </div>
  </div>

  <style>
    .custom-action-button {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      color: #fff;
      background-color: #007bff;
      border: 1px solid #007bff;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
      margin-right: 10px; /* Adjust as needed */
    }

    .custom-action-button:hover {
      background-color: #0056b3;
      color: #fff;
    }
  </style>
{% endblock %}