{% extends 'base.html' %}

{% block title %}Create Activity with File Upload{% endblock %}
{% block body %}
<div class="container mt-5 mx-auto">
  <h6 class="font-bold text-4xl text-center" style="color: #2C4E71;" data-i18n="Add_Event">Add Activity</h6>
  <form id="upload-and-certificate-form" action="{{ url_for('en_form') }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div class="form-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600" data-i18n="Event_Information">Activity Information:</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.certificate_title.label(class="form-label block text-gray-700", **{'data-i18n': 'Event_Title'}) }}
          {{ form.certificate_title(class="form-control w-full border p-2 rounded-lg", placeholder="Enter event title",
          **{'data-i18n-placeholder': 'Enter_Event_Title'}) }}
          {% for error in form.certificate_title.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Secret Field -->
        <div class="mb-4">
          {{ form.secret_phrase.label(class="form-label", **{'data-i18n': 'Secret_Phrase'}) }}
          {{ form.secret_phrase(class="form-control w-full border p-2 rounded-lg", placeholder="Enter secret phrase",
          **{'data-i18n-placeholder': 'Enter_Secret_Phrase'}) }}
          {% for error in form.secret_phrase.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mb-4">
          {{ form.presenter_name.label(class="form-label block text-gray-700", **{'data-i18n': 'Presenter_Name'}) }}
          {{ form.presenter_name(class="form-control w-full border p-2 rounded-lg", placeholder="Enter presenter name",
          **{'data-i18n-placeholder': 'Enter_Presenter_Name'}) }}
          {% for error in form.presenter_name.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.event_type.label(class="form-label block text-gray-700", **{'data-i18n': 'Event_Type'}) }}
          {{ form.event_type(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.event_type.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mb-4">
          {{ form.date.label(class="form-label", **{'data-i18n': 'Date'}) }}
          {{ form.date(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.date.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mb-4">
          {{ form.template_choice.label(class="form-label block text-gray-700", **{'data-i18n': 'Template_Choice'}) }}
          {{ form.template_choice(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in form.template_choice.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="form-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600" data-i18n="Signature_Information">Signature Information:</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ form.signatory_name_1.label(class="form-label block text-gray-700", **{'data-i18n': 'Signatory_Name_1'}) }}
          {{ form.signatory_name_1(class="form-control w-full border p-2 rounded-lg", placeholder="Enter first signature
          name", **{'data-i18n-placeholder': 'Enter_First_Signatory_Name'}) }}
          {% for error in form.signatory_name_1.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- Secret Field -->
        <div class="mb-4">
          {{ form.signatory_position_1.label(class="form-label", **{'data-i18n': 'Signatory_Position_1'}) }}
          {{ form.signatory_position_1(class="form-control w-full border p-2 rounded-lg", placeholder="Enter first
          signatory position", **{'data-i18n-placeholder': 'Enter_First_Signatory_Position'}) }}
          {% for error in form.signatory_position_1.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mb-4">
          {{ form.signature_image_1.label(class="form-label", **{'data-i18n': 'Signature_Image_1'}) }}
          {{ form.signature_image_1(class="form-control w-full border p-2 rounded-lg", **{'data-i18n-placeholder':
          'Choose_File'}) }}
          {% for error in form.signature_image_1.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
          <!-- Button to show/hide the second signatory section -->
          <button type="button" class="btn btn-primary" onclick="toggleSecondSignatory()"
            data-i18n="Add_Second_Signatory">Add Second Signatory</button>
        </div>
      </div>
      <!-- Second signature -->
      <div id="secondSignatorySection" style="display: none;">
        <div class="grid grid-cols-3 gap-6">
          <div class="mb-4">
            {{ form.signatory_name_2.label(class="form-label block text-gray-700", **{'data-i18n': 'Signatory_Name_2'})
            }}
            {{ form.signatory_name_2(class="form-control w-full border p-2 rounded-lg", placeholder="Enter second
            signature name", **{'data-i18n-placeholder': 'Enter_Second_Signatory_Name'}) }}
            {% for error in form.signatory_name_2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <!-- Secret Field -->
          <div class="mb-4">
            {{ form.signatory_position_2.label(class="form-label", **{'data-i18n': 'Signatory_Position_2'}) }}
            {{ form.signatory_position_2(class="form-control w-full border p-2 rounded-lg", placeholder="Enter second
            signatory position", **{'data-i18n-placeholder': 'Enter_Second_Signatory_Position'}) }}
            {% for error in form.signatory_position_2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>

          <div class="mb-4">
            {{ form.signature_image_2.label(class="form-label", **{'data-i18n': 'Signature_Image_2'}) }}
            {{ form.signature_image_2(class="form-control w-full border p-2 rounded-lg", **{'data-i18n-placeholder':
            'Choose_File'}) }}
            {% for error in form.signature_image_2.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

    <div class="file-upload-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600" data-i18n="Attendance_Information">Attendance Information:</h2>
      <div class="mb-3">
        {{ form.file.label(class="form-label block text-gray-700", **{'data-i18n': 'File'}) }}
        {{ form.file(class="form-control w-full border p-2 rounded-lg", **{'data-i18n-placeholder': 'Choose_File'}) }}
        {% for error in form.file.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {% if message %}
        <div class="error-message">
          {{ message }}
        </div>
        {% endif %}
      </div>
      <p class="text-gray-600" data-i18n="Upload_Note">
        <strong>Note:</strong> Upload the attendance list as a CSV file. Ensure that the file format is correct to avoid
        upload errors.
      </p>

      <p class="text-gray-600 mt-4 download-link sample-link-2" data-i18n="Download_Sample">
        Not sure about the correct format? <a data-i18n="Download_Sample_Link_Text"
          href="{{ url_for('static', filename='sample_csv/sample-data_en.csv') }}" download
          class="text-blue-600 hover:text-blue-800 font-bold">Download a sample CSV file</a> to use as a template.
      </p>
    </div>

    <div class="form-section bg-gray-100 p-6 mt-6 rounded-lg shadow-md">
      <h2 class="mt-4 mb-2 text-xl text-blue-600" data-i18n="English_Form">English form:</h2>
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          {{ En_form.intro_en.label(class="form-label", **{'data-i18n': 'Introduction'}) }}
          {{ En_form.intro_en(class="form-control",placeholder="Enter Introduction", **{'data-i18n-placeholder':
          'Enter_Intro'})}}
          {% for error in En_form.intro_en.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>

        <!-- female recipient -->
        <div class="mb-4">
          {{ En_form.female_recipient_title_en.label(class="form-label block text-gray-700", **{'data-i18n':
          'Female_Recipient_Title_EN'}) }}
          {{ En_form.female_recipient_title_en(class="form-control w-full border p-2 rounded-lg", placeholder="Enter
          female recipient title", **{'data-i18n-placeholder': 'Enter_Female_Recipient_Title'}) }}
          {% for error in En_form.female_recipient_title_en.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
        <!-- male recipient -->
        <div class="mb-4">
          {{ En_form.male_recipient_title_en.label(class="form-label block text-gray-700", **{'data-i18n':
          'Male_Recipient_Title_EN'}) }}
          {{ En_form.male_recipient_title_en(class="form-control w-full border p-2 rounded-lg", placeholder="Enter male
          recipient title", **{'data-i18n-placeholder': 'Enter_Male_Recipient_Title'}) }}
          {% for error in En_form.male_recipient_title_en.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>

      <!-- greeting male  -->
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          <label for="greetingMale" data-i18n="Greeting_Male_EN">Greeting for Males</label>
          <input type="text" id="greetingMale" name="greeting_male_en" class="form-control w-full border p-2 rounded-lg"
            placeholder="Best wishes for his success and prosperity"
            data-i18n-placeholder="Greeting_Male_Placeholder" />
        </div>

        <!-- description male -->
        <div class="mb-4 col-span-2">
          {{ En_form.certificate_description_male_en.label(class="form-label", **{'data-i18n':
          'Certificate_Description_Male_EN'}) }}
          {{ En_form.certificate_description_male_en(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in En_form.certificate_description_male_en.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <!-- greetings female -->
      <div class="grid grid-cols-3 gap-6">
        <div class="mb-4">
          <label for="greetingFemale" data-i18n="Greeting_Female_EN">Greeting for Females</label>
          <input type="text" id="greetingFemale" name="greeting_female_en"
            class="form-control w-full border p-2 rounded-lg" placeholder="Best wishes for her success and prosperity"
            data-i18n-placeholder="Greeting_Female_Placeholder" />
        </div>

        <!-- description female -->
        <div class="mb-4 col-span-2">
          {{ En_form.certificate_description_female_en.label(class="form-label", **{'data-i18n':
          'Certificate_Description_Female_EN'}) }}
          {{ En_form.certificate_description_female_en(class="form-control w-full border p-2 rounded-lg") }}
          {% for error in En_form.certificate_description_female_en.errors %}
          <span style="color: red;">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Button Container -->
    <div class="fixed-bottom text-center mt-6">
      <button type="button" onclick="window.location.href='{{ url_for('certificates') }}'"
        class="button w-40 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded m-2"
        data-i18n="Cancel">Cancel</button>
      {{ form.submit(id="Save", class="button w-40 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded
      m-2", **{'data-i18n': 'Save'}) }}
    </div>
  </form>
</div>

<script src="static/js/translations.js"></script>
<script>
  function toggleSecondSignatory() {
    var section = document.getElementById('secondSignatorySection');
    if (section.style.display === 'none') {
      section.style.display = 'block';
    } else {
      section.style.display = 'none';
    }
  }
</script>
{% endblock %}