{% extends 'base.html' %}
{% block title %}CGAV-Templates{% endblock %}
{% block body %}
<style>
    @media (min-width: 768px) {
        .md\:w-48 {
            width: auto;
        }

        .md\:max-w-xl {
            max-width: fit-content;
        }

        .md\:h-auto {
            height: 220px;
        }
    }

    @media (min-width: 1024px) {
        .md\:w-48 {
            width: auto;
        }

        .md\:max-w-xl {
            max-width: fit-content;
        }

        .md\:h-auto {
            height: 400px;
        }
    }
</style>

<body>

    <div style="display: none;" class="flash-message" id="flashMessage">
        <p id="fMessage" data-i18n="Dismiss_Message"></p>
        <button onclick="dismissFlashMessage()" data-i18n="Dismiss">Dismiss</button>
    </div>

    <div class="text-center p-5">
        <h1 class="font-bold text-4xl mb-4" style="color: #2C4E71;" data-i18n="Certificate_Appearance">Certificate
            Appearance</h1>
    </div>
    <div style="background-color:transparent;"
        class="flex m-2 flex-col bg-white rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700"
        id="contain">
        <div class="Image-container">
            <!-- Image -->
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                id="preview-image" src="{{ url_for('uploaded_file', filename=temp.template_image.split('/')[-1]) }}"
                alt="Template" data-i18n="Template_Image">
            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                id="generated-image" style="display:none;" alt="Generated Image" data-i18n="Generated_Image">
        </div>

        <div class="flex flex-col items-center p-4 leading-normal">
            <h5 class="mt-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" style="color:#2C4E71;"
                data-i18n="Template_Name">
                {{temp.template_name}}</h5>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
                <button id="dropdownToggleButton" data-dropdown-toggle="dropdownToggle"
                    class="w-44 mt-4 text-white bg-sky-900 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-sky-900 dark:hover:bg-blue-700 dark:focus:ring-sky-800"
                    type="button" data-i18n="Certificate_items">Certificate items<svg class="w-2.5 h-2.5 ms-3"
                        aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <!-- Dropdown menu -->
                <div id="dropdownToggle"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-72 dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="dropdownToggleButton">
                        {% for item in data %}
                        <li>
                            <div class="flex p-2 rounded hover:bg-gray-100 dark:hover:bg-gray-600">
                                <label class="relative inline-flex items-center w-full cursor-pointer">
                                    <input oninput="checkItems(this.value, this.checked)" type="checkbox"
                                        id="itemCheckbox{{loop.index}}" value="{{item}}" class="sr-only peer">
                                    <div
                                        class="w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-600 peer-checked:after:translate-x-full rtl:peer-checked:after:translate-x-[-100%] peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-500 peer-checked:bg-blue-600">
                                    </div>
                                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                                        data-i18n-dynamic="{{item}}">{{item}}</span>
                                </label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <form style=" display:none;" id="customizationform" class="max-w-md mx-auto my-3"
                onsubmit="submitForm(event,{{temp.template_id}})" method="POST" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <p id="note" style="color:#2C4E71;margin-bottom: 5px;font-style:oblique;font-size:small;"
                    data-i18n="All_positions_note">All positions in numbers between 0.00 to
                    1.00.</p>

                <p id="signature" style="color: red;margin-bottom: 5px;font-style:oblique;font-size: small;"
                    data-i18n="Hide_signature_note">Note: if you want to hide the signature set all values to '0.01'</p>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
                    <div>
                        {{ form.x.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'X_Position'})}}
                        {{ form.x(id="xp",class="block w-full p-2 text-gray-900 border
                        border-gray-300 rounded-lg
                        bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",min=0,max=1,step=".01",type="number",id="x_postion")}}
                        {% for error in form.x.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.y.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Y_Position'})}}
                        {{ form.y(id="yp",class="block w-full p-2 text-gray-900 border
                        border-gray-300 rounded-lg
                        bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",min=0,max=1,step=".01",type="number",id="y_postion")}}
                        {% for error in form.y.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.h.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Height'})}}
                        {{ form.h(class="block w-full p-2 text-gray-900 border border-gray-300
                        rounded-lg bg-gray-50
                        sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",min=0,max=1,step=".01",type="number",id="height")}}
                        {% for error in form.h.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.w.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Width'})}}
                        {{ form.w(class="block w-full p-2 text-gray-900 border border-gray-300
                        rounded-lg bg-gray-50
                        sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",min=0,max=1,step=".01",type="number",id="width")}}
                        {% for error in form.w.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.color.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Color'})}}
                        {{ form.color(class="p-1 h-10 w-full mb-2 block border border-gray-300
                        rounded-lg bg-gray-50
                        border border-gray-300 cursor-pointer focus:ring-blue-500
                        focus:border-blue-500 bg-white
                        disabled:opacity-50 disabled:pointer-events-none
                        ",type="color",id="color")}}
                        {% for error in form.color.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div id="alttextfield">
                        {{ form.text.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Text'})}}
                        {{ form.text(rows="1" ,class="block mb-2 p-2 w-full text-sm
                        text-gray-900 bg-gray-50 border
                        border-gray-300 rounded-lg border border-gray-300 focus:ring-blue-500
                        focus:border-blue-500bg-white disabled:opacity-50
                        disabled:pointer-events-none
                        ",type="textarea",id="text")}}
                        {% for error in form.text.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div id="alttextfield2" style="display: none;"></div>
                    <div id="webcheck" class="flex items-center me-4">
                        <input id="web-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-900">
                        <label for="web-checkbox" class="ml-2 mt-2 text-m font-medium text-blue-900"
                            data-i18n="Website">Website</label>
                    </div>
                    <div id="Xcheck" class="flex items-center me-4">
                        <input id="twitter-checkbox" type="checkbox" value=""
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-900">
                        <label for="twitter-checkbox" class=" ml-2 mt-2 text-m font-medium text-blue-900"
                            data-i18n="Twitter">Twitter (X)</label>
                    </div>
                    <div id="websitfield" style="display: none;">
                        {{ form.websit.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Website_URL'})}}
                        {{ form.websit(class="block w-full h-10 p-2 text-gray-900 border
                        border-gray-300 rounded-lg
                        bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",type="text",id="websit")}}
                        {% for error in form.color.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div id="websitfield2" style="display: none;">
                        {{ form.websitlinke.label(class='block mb-2 text-sm font-medium
                        text-gray-900 text-sky-900',
                        **{'data-i18n': 'Website_Link'})}}
                        {{ form.websitlinke(class="block w-full h-10 p-2 text-gray-900 border
                        border-gray-300 rounded-lg
                        bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",type="text",id="websitlinke")}}
                        {% for error in form.color.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div id="xfield" style="display: none;">
                        {{ form.X.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Twitter_Handle'})}}
                        {{ form.X(class="block w-full h-10 p-2 text-gray-900 border
                        border-gray-300 rounded-lg
                        bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",type="text",id="X")}}
                        {% for error in form.text.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div id="xfield2" style="display: none;">
                        {{ form.Xlink.label(class='block mb-2 text-sm font-medium text-gray-900
                        text-sky-900',
                        **{'data-i18n': 'Twitter_Link'})}}
                        {{ form.Xlink(class="block w-full h-10 p-2 text-gray-900 border
                        border-gray-300 rounded-lg
                        bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 bg-white
                        ",type="text",id="Xlink")}}
                        {% for error in form.text.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div>
                        {{ form.item(type="hidden",id="keyitem")}}
                    </div>
                </div>
                {{form.submit()}}
            </form>
            <div class="grid grid-cols-1 md:grid-cols-5 gap-0 mt-2 ml-3">
                <button onclick="previewCertificate({{temp.template_id}},v='en')" class=" custom-button"
                    data-i18n="Preview">Preview</button>
            </div>
        </div>
    </div>
</body>

<script>
    var checkbox = document.getElementById('bilingualCheckbox');
    var bilingual = document.getElementById("ardropdownToggleButton");
    var item = document.querySelectorAll("#itemCheckbox");
    var aritem = document.getElementById("aritemCheckbox");
    var customItem = document.getElementById("customizationform");
    var x_postion = document.getElementById("x_postion");
    var keyitem = document.getElementById("keyitem");
    var flash1 = document.getElementById('customizationadded');
    var signature = document.getElementById("signature");

    const websitfield = document.getElementById('websitfield');
    const websitfield2 = document.getElementById('websitfield2');
    const xfield = document.getElementById('xfield');
    const xfield2 = document.getElementById('xfield2');

    let previousWebsiteValue = '';
    let previousWebsiteLinkValue = '';
    let previousTwitterValue = '';
    let previousTwitterLinkValue = '';

    function dismissFlashMessage() {
        var flashMessage = document.getElementById('flashMessage');
        flashMessage.style.display = 'none';
    }
    function checkItems(value, isChecked) {
        if (isChecked) {
            customItem.style.display = "block";
            keyitem.value = value;
            if (keyitem.value == "signature_2") {
                signature.style.display = "block";
            } else {
                signature.style.display = "none";
            }
            if (keyitem.value == "contact_info") {
                document.getElementById('webcheck').style.display = "flex";
                document.getElementById('Xcheck').style.display = "flex";
                document.getElementById('alttextfield').style.display = "none";
                document.getElementById('alttextfield2').style.display = "block";
                if (document.getElementById('web-checkbox').checked) {
                    websitfield.style.display = "block";
                    websitfield2.style.display = "block";
                } else {
                    websitfield.style.display = "none";
                    websitfield2.style.display = "none";
                }
                if (document.getElementById('twitter-checkbox').checked) {
                    xfield.style.display = "block";
                    xfield2.style.display = "block";
                } else {
                    xfield.style.display = "none";
                    xfield2.style.display = "none";
                }
            } else {
                document.getElementById('webcheck').style.display = "none";
                document.getElementById('Xcheck').style.display = "none";
                document.getElementById('alttextfield').style.display = "block";
                document.getElementById('alttextfield2').style.display = "none";
                websitfield.style.display = "none";
                websitfield2.style.display = "none";
                xfield.style.display = "none";
                xfield2.style.display = "none";
            }
        } else {
            customItem.style.display = "none";
        }
    }

    // Event listener for website checkbox
    document.getElementById('web-checkbox').addEventListener('change', () => {
        const websitfield = document.getElementById('websitfield');
        const websitfield2 = document.getElementById('websitfield2');
        const websiteInput = document.getElementById('websit');
        const websiteLinkInput = document.getElementById('websitlinke');

        if (document.getElementById('web-checkbox').checked) {
            websitfield.style.display = "block";
            websitfield2.style.display = "block";
            // Restore the previous values
            websiteInput.value = previousWebsiteValue;
            websiteLinkInput.value = previousWebsiteLinkValue;
        } else {
            websitfield.style.display = "none";
            websitfield2.style.display = "none";
            // Save the current values
            previousWebsiteValue = websiteInput.value;
            previousWebsiteLinkValue = websiteLinkInput.value;
            // Clear the fields
            websiteInput.value = '';
            websiteLinkInput.value = '';
        }
    });

    // Event listener for Twitter checkbox
    document.getElementById('twitter-checkbox').addEventListener('change', () => {
        const xfield = document.getElementById('xfield');
        const xfield2 = document.getElementById('xfield2');
        const twitterInput = document.getElementById('X');
        const twitterLinkInput = document.getElementById('Xlink');

        if (document.getElementById('twitter-checkbox').checked) {
            xfield.style.display = "block";
            xfield2.style.display = "block";
            // Restore the previous values
            twitterInput.value = previousTwitterValue;
            twitterLinkInput.value = previousTwitterLinkValue;
        } else {
            xfield.style.display = "none";
            xfield2.style.display = "none";
            // Save the current values
            previousTwitterValue = twitterInput.value;
            previousTwitterLinkValue = twitterLinkInput.value;
            // Clear the fields
            twitterInput.value = '';
            twitterLinkInput.value = '';
        }
    });

    function arCheckItems(value, isChecked) {
        if (isChecked) {
            customItem.style.display = "block";
            keyitem.value = value;
        } else {
            customItem.style.display = "none";
        }
    }

    function submitForm(event, temp_id) {
        event.preventDefault(); // Prevent the default form submission behavior
        fetch(`/entemplate/${temp_id}`, {
            method: 'POST',
            body: new FormData(document.getElementById('customizationform')),
        })
            .then(response => {
                document.getElementById('flashMessage').style.display = "block";
                document.getElementById('fMessage').innerHTML = "Customizations added successfully!";
            })
            .then(data => {
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    function previewCertificate(temp_id, lang) {
        const url = `/img/${temp_id}/${lang}?_=${new Date().getTime()}`;
        const imgFrame = document.getElementById('preview-image');
        const imgFrame2 = document.getElementById('generated-image');
        imgFrame.style.display = "block"
        imgFrame2.style.display = "none"
        imgFrame2.src = null;

        fetch(url, { method: 'POST' })
            .then(response => response.blob())
            .then(blob => {
                const urlCreator = window.URL || window.webkitURL;
                imgFrame2.src = urlCreator.createObjectURL(blob);
                imgFrame2.style.display = "block";
                imgFrame.style.display = "none";
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>

{% endblock %}