<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/login.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Register Form</title>
  </head>
  <body>
    <div class="container-fluid">
        <form class="mx-auto" method="POST" action="">
            {{ form.hidden_tag() }}
            <h4 class="text-center">Register</h4>
            <div class="mb-3 mt-5">
              <label for="exampleInputEmail1" class="form-label">First name</label>
              {{form.Fname(class="form-control")}}
              <label for="exampleInputEmail1" class="form-label">Last name</label>
              {{form.Lname(class="form-control")}}
            </div>

            <!-- <div class="mb-3 mt-5">
                <label for="exampleInputEmail1" class="form-label">last name</label>
                {{form.Lname(class="form-control")}}
            </div> -->


            <div class="mb-3 mt-5">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                {{form.email(class="form-control")}}
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              {{form.password(class="form-control")}}
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                {{form.confirm_password(class="form-control")}}
                <div id="emailHelp" class="form-text mt-3">
                    <a href="{{ url_for('login') }}">Already have an account? Log In</a>
    
                  </div>
            </div>
          
            {{form.submit(class="btn btn-primary")}}
          </form>
    </div>


<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>