{% extends 'base.html' %}
{% block title %}CGAV-Templates{% endblock %}
{% block body %}
<body>
{% for mesg in get_flashed_messages() %}
  <!-- Alert Success  -->
  <div
    class="flex justify-between text-green-200 shadow-inner rounded p-3 bg-green-600"
  >
    <p class="self-center">
      {{ mesg }}
    </p>
    <strong class="text-xl align-center cursor-pointer alert-del"
      >&times;</strong
    >
  </div>
{% endfor %}
<div class="text-center p-5" style="display: flow;" >
    <h1 class="font-bold text-4xl mb-4" style="color: #2C4E71;">Certificate Templates</h1>

</div>
<section id="Projects" style="margin-bottom: 2.25rem;"
class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 ">

<!--   ✅ Add Template card 1 - Starts Here 👇 -->
<div class=" w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl" style="background-color:#ededed;">
    <a class=" mb-5 justify-items-center justify-center" style="display: flex;margin-top: 9rem;margin-bottom: 7rem;" href="/create_new_template">
        <svg xmlns="http://www.w3.org/2000/svg" height="3.5em" viewBox="0 0 512 512"><style>svg{fill:#435d78}</style><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
    </a>
</div>
{% for template in templates %}
<div class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <img src="{{ url_for('uploaded_file', filename=template.template_image.split('/')[-1]) }}"
                alt="Template" class="h-60 w-72 object-cover rounded-t-xl" />
        <div class="px-4 py-3 w-72">
            <p class="text-lg font-bold text-black truncate block capitalize">{{template.template_name}}</p>
            <button onclick="redirectToTemplate('{{ url_for('template', temp_id=template.template_id) }}')" class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">                Edit
            </button>
            
        </div>
    </a>
</div>
{% endfor %}
</section>
</body>
<script>
    function redirectToTemplate(url) {
        window.location.href = url;
    }
  // Script For Close alert

  var alert_del = document.querySelectorAll('.alert-del');
  alert_del.forEach((x) =>
    x.addEventListener('click', function () {
      x.parentElement.classList.add('hidden');
    })
  );
</script>

{% endblock %}