{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<body>
  


{% for mesg in get_flashed_messages() %}
  <!-- Alert Success  -->
  <div
    class="flex justify-between text-red-200 shadow-inner rounded p-3 bg-red-600"
  >
    <p class="self-center">
      {{ mesg }}
    </p>
    <strong class="text-xl align-center cursor-pointer alert-del"
      >&times;</strong
    >
  </div>
{% endfor %}

<form action="/update/{{ user_to_edit.id }}" method="POST">
    {{ form.hidden_tag() }}
    {{form.Fname(class="form-control", value=user_to_edit.Fname)}}
    {{form.email(class="form-control", value=user_to_edit.email)}}
    {{form.user_role(class="form-control", value=user_to_edit.user_role)}}
    {{form.submit(class="btn btn-primary")}}

</form>




</body>
<script>
    // Script For Close alert

    var alert_del = document.querySelectorAll('.alert-del');
  alert_del.forEach((x) =>
    x.addEventListener('click', function () {
      x.parentElement.classList.add('hidden');
    })
  );
</script>


{% endblock %}